In [42]:
import sqlite3

import requests
from langchain_community.utilities.sql_database import SQLDatabase
from sqlalchemy import create_engine
from sqlalchemy.pool import StaticPool


# def get_engine_for_chinook_db():
#     """Pull sql file, populate in-memory database, and create engine."""
#     url = "https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql"
#     response = requests.get(url)
#     sql_script = response.text

#     connection = sqlite3.connect(":memory:", check_same_thread=False)
#     connection.executescript(sql_script)
#     return create_engine(
#         "sqlite://",
#         creator=lambda: connection,
#         poolclass=StaticPool,
#         connect_args={"check_same_thread": False},
#     )


# engine = get_engine_for_chinook_db()

# from langchain_community.utilities.sql_database import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///rental.db")

# db = SQLDatabase(engine)

In [51]:
import getpass
import os
from dotenv import load_dotenv
import warnings

warnings.filterwarnings("ignore")

load_dotenv()

os.environ["OPENAI_API_KEY"] = os.getenv('OPENAI_API_KEY')

from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-4o-mini")

In [44]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [45]:
toolkit.get_tools()

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7fd5bf9607f0>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7fd5bf9607f0>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7fd5bf9607f0>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7fd5bf9607f0>, llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x7fd5c04ddd80>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x7fd5c00bfaf0>, root_client=<openai.OpenAI object at 0x7fd5c0de9ea0>, root_async_client=<openai.AsyncOpenAI object at 0x7fd5c04df0d0>, model_name='gpt-4o-mini', model_kwargs={}, openai_api_key=SecretStr('**********')), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x7fd5c04ddd80>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x7fd5c00bfaf0>, root_client=<openai.OpenAI object at 0x7fd5c0de9ea0>, root_async_client=<openai.AsyncOpenAI object at 0x7fd5c04df0d0>, model_name='gpt-4o-mini', model_kwargs={}, openai_api_key=SecretStr('**********')), output_parser=StrOutputParser(), llm_kwargs={}))]

In [46]:
from langchain_community.tools.sql_database.tool import (
    InfoSQLDatabaseTool,
    ListSQLDatabaseTool,
    QuerySQLCheckerTool,
    QuerySQLDataBaseTool,
)

In [47]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
print(prompt_template.input_variables)

/home/nathalierocelle/sql-agent/venv/lib/python3.10/site-packages/langsmith/client.py:241: LangSmithMissingAPIKeyWarning: API key must be provided when using hosted LangSmith API
  warnings.warn(

['dialect', 'top_k']

In [48]:
system_message = prompt_template.format(dialect="SQLite", top_k=5)

In [52]:
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(
    llm, toolkit.get_tools(), state_modifier=system_message
)

example_query = "What is the most rented film?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

What is the most rented film?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_7KpUZjfqMnVOfPWoKaphtOpS)
 Call ID: call_7KpUZjfqMnVOfPWoKaphtOpS
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

actor, address, category, city, country, customer, film, film_actor, film_category, film_text, inventory, language, payment, rental, staff, store
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_YS8YhhtrJmd4op2BBR2EmC1i)
 Call ID: call_YS8YhhtrJmd4op2BBR2EmC1i
  Args:
    table_names: film
  sql_db_schema (call_tdBpkM5bS3bYpSWuG6qS74LW)
 Call ID: call_tdBpkM5bS3bYpSWuG6qS74LW
  Args:
    table_names: rental
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE rental (
	rental_id INTEGER NOT NULL,
	rental_date TIMESTAMP NOT NULL,
	inventory_id INTEGER NOT NULL,
	customer_id INTEGER NOT NULL,
	return_date TIMESTAMP DEFAULT NULL,
	staff_id SMALLINT NOT NULL,
	last_update TIMESTAMP NOT NULL,
	PRIMARY KEY (rental_id),
	CONSTRAINT fk_rental_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id),
	CONSTRAINT fk_rental_inventory FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id),
	CONSTRAINT fk_rental_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id)
)

/*
3 rows from rental table:
rental_id	rental_date	inventory_id	customer_id	return_date	staff_id	last_update
1	2005-05-24 22:53:30	367	130	2005-05-26 22:04:30	1	2020-12-23 07:15:20
2	2005-05-24 22:54:33	1525	459	2005-05-28 19:40:33	1	2020-12-23 07:15:20
3	2005-05-24 23:03:39	1711	408	2005-06-01 22:12:39	1	2020-12-23 07:15:20
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_t4H0HKPoRAvJaHkD1TJpQRa2)
 Call ID: call_t4H0HKPoRAvJaHkD1TJpQRa2
  Args:
    query: SELECT f.title, COUNT(r.rental_id) AS rental_count
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id
ORDER BY rental_count DESC
LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('BUCKET BROTHERHOOD', 34)]
================================== Ai Message ==================================

The most rented film is "BUCKET BROTHERHOOD," with a total of 34 rentals.

In [50]:
example_query = "Who are the top 3 best selling actors?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Who are the top 3 best selling actors?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_rKuZmNb3RpCsjHWZPXdFxkov)
 Call ID: call_rKuZmNb3RpCsjHWZPXdFxkov
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

actor, address, category, city, country, customer, film, film_actor, film_category, film_text, inventory, language, payment, rental, staff, store
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_puPsIPi8xREUcfcToTVFaRZe)
 Call ID: call_puPsIPi8xREUcfcToTVFaRZe
  Args:
    table_names: actor
  sql_db_schema (call_cKGL6xqUkjYq0cEj9QHEeEuh)
 Call ID: call_cKGL6xqUkjYq0cEj9QHEeEuh
  Args:
    table_names: film_actor
  sql_db_schema (call_NG8Ye12jm82PU3uIQY9I1gok)
 Call ID: call_NG8Ye12jm82PU3uIQY9I1gok
  Args:
    table_names: film
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE film (
	film_id INTEGER NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT DEFAULT NULL,
	release_year VARCHAR(4) DEFAULT NULL,
	language_id SMALLINT NOT NULL,
	original_language_id SMALLINT DEFAULT NULL,
	rental_duration SMALLINT DEFAULT 3 NOT NULL,
	rental_rate DECIMAL(4, 2) DEFAULT 4.99 NOT NULL,
	length SMALLINT DEFAULT NULL,
	replacement_cost DECIMAL(5, 2) DEFAULT 19.99 NOT NULL,
	rating VARCHAR(10) DEFAULT 'G',
	special_features VARCHAR(100) DEFAULT NULL,
	last_update TIMESTAMP NOT NULL,
	PRIMARY KEY (film_id),
	CONSTRAINT fk_film_language FOREIGN KEY(language_id) REFERENCES language (language_id),
	CONSTRAINT fk_film_language_original FOREIGN KEY(original_language_id) REFERENCES language (language_id),
	CONSTRAINT "CHECK_special_rating" CHECK (rating in ('G','PG','PG-13','R','NC-17'))
)

/*
3 rows from film table:
film_id	title	description	release_year	language_id	original_language_id	rental_duration	rental_rate	length	replacement_cost	rating	special_features	last_update
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies	2006	1	None	6	0.99	86	20.99	PG	Deleted Scenes,Behind the Scenes	2020-12-23 07:12:31
2	ACE GOLDFINGER	A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China	2006	1	None	3	4.99	48	12.99	G	Trailers,Deleted Scenes	2020-12-23 07:12:31
3	ADAPTATION HOLES	A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory	2006	1	None	7	2.99	50	18.99	NC-17	Trailers,Deleted Scenes	2020-12-23 07:12:31
*/

/home/nathalierocelle/sql-agent/venv/lib/python3.10/site-packages/langchain_community/utilities/sql_database.py:317: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/home/nathalierocelle/sql-agent/venv/lib/python3.10/site-packages/langchain_community/utilities/sql_database.py:329: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables
/home/nathalierocelle/sql-agent/venv/lib/python3.10/site-packages/langchain_community/utilities/sql_database.py:317: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/home/nathalierocelle/sql-agent/venv/lib/python3.10/site-packages/langchain_community/utilities/sql_database.py:329: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables
/home/nathalierocelle/sql-agent/venv/lib/python3.10/site-packages/langchain_community/utilities/sql_database.py:317: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/home/nathalierocelle/sql-agent/venv/lib/python3.10/site-packages/langchain_community/utilities/sql_database.py:329: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_qqBh5baDzsbkLMywmTiBuSyk)
 Call ID: call_qqBh5baDzsbkLMywmTiBuSyk
  Args:
    query: SELECT actor_id, COUNT(film_id) AS film_count FROM film_actor GROUP BY actor_id ORDER BY film_count DESC LIMIT 3;
================================= Tool Message =================================
Name: sql_db_query

[(107, 42), (102, 41), (198, 40)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_6sIacI9SVvrk4JlbkTKK71ug)
 Call ID: call_6sIacI9SVvrk4JlbkTKK71ug
  Args:
    query: SELECT first_name, last_name FROM actor WHERE actor_id = 107;
  sql_db_query (call_UbenYHaK6xGvWaC4iWjemlyT)
 Call ID: call_UbenYHaK6xGvWaC4iWjemlyT
  Args:
    query: SELECT first_name, last_name FROM actor WHERE actor_id = 102;
  sql_db_query (call_B6eskceXVcr6X5am5GAdKTcn)
 Call ID: call_B6eskceXVcr6X5am5GAdKTcn
  Args:
    query: SELECT first_name, last_name FROM actor WHERE actor_id = 198;
================================= Tool Message =================================
Name: sql_db_query

[('MARY', 'KEITEL')]
================================== Ai Message ==================================

The top 3 best-selling actors are:

1. Gina Degeneres
2. Walter Torn
3. Mary Keitel